<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="XEBS_138" connectionString="Data Source=.;Initial Catalog=ebs;UID=ebs_admin;PWD=123123;"/>
  </connectionStrings>
  <appSettings>
    <!--生成配置：XEBS_138 BEGIN-->
    <!--数据库操作类路径-->
    <add key="XEBS_138_DIR_DBO" value="D:\DVCore\CEBS\CEBS.Web.Display\src\CEBS.Db.Crm.Data.DbOper" />
    <!--数据库模型类路径-->
    <add key="XEBS_138_DIR_MOD" value="D:\DVCore\CEBS\CEBS.Web.Display\src\CEBS.Db.Crm.Data.Model" />
    <!--数据库操作类命名空间-->
    <add key="XEBS_138_NAS_DBO" value="CEBS.Db.Crm.Data.DbOper" />
    <!--数据库模型类命名空间-->
    <add key="XEBS_138_NAS_DAT" value="CEBS.Db.Crm.Data.Model" />
    <!--数据库链接字符串前缀-->
    <add key="XEBS_138_MARK_CON" value="XEBS" />
    <!--生成配置：XEBS_138 END-->
  </appSettings>
</configuration>